%title-text {
  font-family: $title-font;
  font-size:$title-size;
}
body{
  background-color: #fdf9f1;
}
header{
  z-index: -1;
  @extend %title-text;
  padding: 64px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  height: 200px ;
  text-align: center;
}
.filterbox{
  height:80px;
  input{

    height: 50px;
    width:100%;
      padding: 10px;
      border: solid 3px #c9c9c9;
      transition: border 0.3s;
    font-family: $text;

  }
  input .focus{
    border: solid 5px #969696;
  }
  label{
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 0;
    vertical-align: baseline;
  }
  #query{


   }
}
.menu{
  text-align: center;
  height: 50px;
  padding: 10px;
  color: #0c4d78;
  a{
    color: #0a0a0a;
    font-family: "Droid Serif", serif;
  }
}

#g-filter{
  text-align: center;
  button{
    background-color: #2f6578;
    border-radius: 5%;
  }
  .is-checked{
    background-color: #0c4d78;
  }
}

.selection{
  height:50px;

  padding: 15px;

  #filter{
    height: 80px;
    text-align: center;
  }

  #order{
    position: relative;
    top: 10px;
  }
}
.list{
  font-family: $text;
  position: relative;
  .list_item{
    &:hover {
      background-color: #a8c6e4;
      zoom:1.1;
      transition: background-color 0.3s, zoom 5s;
    }
  }
  .ranking{
    width: 110px;
    padding: 4px;
    height: 60px;
    position: absolute;
    right:50px;
    background-color: #f5cf87;
    border-radius: 5%;
    text-align: center;
    img{
      display: inline-block;
      bottom: 8px;
      position: relative;
    }
    div{
      display: inline-block;
      font-family: $title-font;
      font-size:40px;
      position: relative;

    }
  }
  .media-object{
    color:black;
    background-color: white;
    padding:40px;
    border-radius: 10px;
    .media-object-section{
      h4 {
        font-family: $text;
        font-weight: bold;
      }
    }
    h3 h4{
      font-family: $text;
      font-weight: bold;
    }
    .list-inline{
      h6{
        text-decoration: underline;
      }
    }
    font-family: $text;
  }


}
.route{
  color: #222671;
  div{
    display: inline-block;
  }
}
